<!DOCTYPE html>
<html ng-app="prototypeApp">
	<head>
	    <title>CPSC 490: Ptolemy</title>
	    <meta name="viewport" content="initial-scale=1.0">
	    <meta charset="utf-8">
	    <link rel="stylesheet" href="css/maps.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	    <script src='/bower_components/lodash/lodash.js'></script>
	    <!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script> -->
		<script src='/bower_components/angular/angular.min.js'></script> 
		<!--<script src='/bower_components/angular-route/angular-route.min.js'></script> -->
		<script src='/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
		<script src='/bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJNG9PULmfEJJLRjI-PMEth8FRgaE5PjU"></script>
	    <script src="/markerCluster/markerclusterer.js" type="text/javascript"></script>
	</head>
	<body>
		<div id=Title>Ptolemy: An OpenDaylight Map</div>
		<section>
	  	<div id="MapView" ng-controller="MapCtrl">
 				<ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' options='map.options'>
     				<ui-gmap-markers models="nodeMarkers" coords="'self'" icon="'icon'" click="onClick" type="'cluster'" 
     				typeoptions='{"title":"","gridSize":32,"ignoreHidden":true,"minimumClusterSize":2}'>
        				<ui-gmap-windows show="show">
                			<div ng-non-bindable>{{title}}</div>
            			</ui-gmap-windows>
            		</ui-gmap-markers>

            		<!-- known error in ui-gmap-polylines: can't toggle visibility/edit; does not effect ui-gmap-polyline with ng-repeat -->
            		<ui-gmap-polyline ng-repeat="p in linkPaths" path="p.path" stroke="p.stroke" visible='p.visible'
            		geodesic="p.geodesic" fit="false" clickable="true" static="true" events="p.events"></ui-gmap-polyline>

    			</ui-gmap-google-map>

    			<div id ="userQueries">
    			<div id="queryCtrl">
	    			<div id ="nodeSelection"> 
		    			<div id ="labelWrapperSource"> Source Nodes
		    				<div style="padding:0 0 5px; font-size:small">select source nodes to show</div>
		    				<div style="text-align: left">
								<input type="checkbox" ng-model=selectedAllSrc 
								ng-click="checkAll('selectedSrc', 'selectedAllSrc')">Select All:
							</div>
		    				<div id =divInCell>
			    				<div id="testMarkers" ng-repeat="marker in allMarkers" style:"font-color:white">
									<input type="checkbox" ng-model="marker.selectedSrc">{{marker.name}}
								</div>
							</div>
						</div>
						<div id ="labelWrapperDest"> Destination Nodes
							<div style="padding:0 0 5px; font-size:small">select destination nodes to show</div>
							<div style="text-align: left">
								<input type="checkbox" ng-model=selectedAllDest 
								ng-click="checkAll('selectedDest', 'selectedAllDest')">Select All: 
							</div>
							<div id =divInCell>
				    			<div id="testMarkers" ng-repeat="marker in allMarkers" style:"font-color:white">
									<input type="checkbox" ng-model="marker.selectedDest">{{marker.name}}
								</div>
							</div>
						</div>
					</div>
					<div id="customQueries" style="float:left; color:white"> Custom Queries:
						<div id=infoText> input query in form of ['table_column' 'comparator' 'value'] <br/> example: intensity > 0.3 </div>
						<label style="color:aqua"> 1. Query the node table:  
							<input type="text" ng-model=userNodeQuery.string>
						</label> <br/>
						<label style="color:aqua"> 2. Query the link table: 
							<input type="text" ng-model=userLinkQuery.string>
						</label>		
					</div>
					<div id=buttonHolder>
						<button id=checkboxButton ng-click="mapQuery()" style:"display: block">
						Go! -- Show the Nodes / Links selected </button>
					</div>
					<div id ="showLink" ng-model="clickedLinkHTML">[click on a link to see its information]
						<ul style="list-style-type:none; overflow:scroll">
							<li>Link ID: {{clickedLinkHTML.Link_id}}</li>
							<li>Intensity: {{clickedLinkHTML.intensity}}</li>
							<li>Source: {{clickedLinkHTML.source_node}}</li>
							<li>Destination: {{clickedLinkHTML.dest_node}}</li>
						</ul>
					</div>
				</div>
				</div> 
		</div>
		</section>
		<div id=buttonHolder2 ng-controller="MapCtrl"> 
			<button ng-click ="reloadAll();">Reload Map from Data</button>
			<div id="databaseCtrl" ng-controller ="databaseCtrl">
				<button ng-click="insertNewTopology()">Reread Network Topology</button> 
				<button ng-click="resetDatabases()">Reset Databases</button>
			</div> 
		</div>
		<!-- insert needed scripts here --> 
		<script type="text/javascript" src="app/map.controller.js"></script> 
		<script type="text/javascript" src="app/getrestapi.service.js"></script>
		<script type="text/javascript" src="app/updateDatabase.controller.js"></script>
		<script type="text/javascript" src="app/parseTopologies.service.js"></script>
		<script type="text/javascript" src="app/createSubsetQuery.service.js"></script>
	</body>
</html>